extends ../layout 

block head 
  link(rel="stylesheet" href="/stylesheets/registros.css")

block content
  .container.mt-5.mb-5
  .col-md-10
    h5= message
    form.form.row(method="POST" action="/venta/agregar")
      input(type="hidden" name="clID" value=`${ clID }` readonly) 
      input(type="hidden" name="clNombre" value=`${ clNombre }` readonly)
      .col-3
        input.form-control(type="submit" class='btn btn-dark' value="Volver" )
    div(class="card mt-4")
      div(class="card-header")
        span 
          i(class="bi bi-table me-2") Seleccionar Cliente
      div(class="card-body")
        div(class="table-responsive")
          table(id="tbl" class="table table-striped" style="width: 100%")
            thead
              tr
                th CI
                th NOMBRE
                th APELLIDO
                th TELEFONO
                th ACCION
            tbody
              each val in data 
                tr(id=`${val.id}`) 
                  td= val.ci
                  td= val.nombre
                  td= val.apPaterno + ' ' + val.apMaterno
                  td= val.telefono
                  td 
                    form(method="POST" action="/venta/agregar")
                      input.form-control(type="submit" class='btn btn-outline-success' value="Agregar" )
                      input(type="hidden" name="clID" value=`${ val.id }` readonly) 
                      input(type="hidden" name="clNombre" value=`${ val.nombre }` readonly)
            tfoot

block footer
  script(src="/javascripts/newDataTable.js")